/*reseteo del css de todo el html*/
*{
	
	height: 100%;
	padding: 0px;
	margin: 0px;
	color: #FFF;
	font-family: "Questrial","Sacramento","Comfortaa", sans-serif;
}
/*nueva fuente*/

/*diseños generales*/

.global{
	width: 100%;
	height: 100%;
	background-image: url("main3.jpg");
	background-size: cover;
	display: flex;
}
.contMenu{
	width: 100%;
	height: 70px;
	position: fixed;
	display: flex;
	
}
.contLogo{
	width: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.logo{
	width: 30%;
	height: auto;
	display: flex;
	justify-content: center;
	
	font-family: Sacramento;
	font-size: 40px;
}
.contNav{
	width: 50%;
	display: flex;
	justify-content: flex-end;
}
nav{
	width: 80%;
	display: flex;
	justify-content: center;
}
ul{
	height: 100%;
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-between;


}
li{
	font-size: 20px;
	text-align: center;
	height: 100%;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;

}
li:hover{
	cursor: pointer;
	color:#C3DCFF;

}
.main{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.presentacion{
	width: 70%;
	height: 30%;
	
	
}
.sabemos{
	letter-spacing: 7px;
	width: 100%;
	height: 70px;
	color:#C3DCFF;
	font-size: 65px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	
}
.sobre{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.groupPresen{
	width: 50%;
	height: 100%;
}
.ti{
	text-align: center;
	width: 100%;
	height: 50%;
	font-size: 25px;
	letter-spacing: 5px;
}
.subGroup{
	width: 100%;
	height: 50%;

}
.ayudamos{
	width: 100%;
	height: 30px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.solucion{
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
}
.aqui{
	margin-top: 20px;
	width: 25%;
	height: 40px;
	display: flex;
	color:#C3DCFF; 
	justify-content: center;
	align-items: center;
	border: 2px solid #C3DCFF;
	border-radius: 25px;
}
